<div x-data="customerCreate" class="customer-create-page">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-left">
            <h1 class="page-title">Add Customer</h1>
            <p class="page-subtitle">Fill in the details below to add a new customer.</p>
        </div>
        <div class="page-header-right">
            <a href="/customers" class="btn btn-default">
                <i class="fa fa-arrow-left"></i> Back to Customers
            </a>
        </div>
    </div>

    <!-- Success State -->
    <div x-show="submitted" x-cloak class="alert-success-box">
        <div class="alert-icon"><i class="fa fa-check-circle"></i></div>
        <div class="alert-body">
            <strong>Customer added successfully!</strong>
            <p>The customer has been saved.</p>
        </div>
        <div class="alert-actions">
            <button class="btn btn-success" @click="resetForm()">Add Another</button>
            <a href="/customer" class="btn btn-default">View All Customers</a>
        </div>
    </div>
    <!-- <main id="main"> -->
        <div class="row row-same-height ">     
            <form @submit.prevent="submitCustomer()">    
                <!-- Form -->
                <div x-show="!submitted" >                
                    <div class="row">
                        <!-- First Column -->
                        <div class="col-md-6 ">
                            <div class="padding-30">
                                <div class="form-group-attached">
                                    <!-- Customer No -->
                                    <div class="form-group form-group-default required" :class="errors.customer_no ? 'has-error' : ''">
                                        <label for="customer_no">Customer No</label>
                                        <input x-model="customer_data.customer_no" class="form-control" placeholder="Customer No">
                                        <template x-if="errors.customer_no">
                                            <span class="form-error text-danger" x-text="errors.customer_no"></span>
                                        </template>
                                    </div>

                                    <!-- First Name -->
                                    <div class="form-group form-group-default required" :class="errors.first_name ? 'has-error' : ''">
                                        <label for="first_name">First Name</label>
                                        <input x-model="customer_data.first_name" class="form-control" placeholder="First name">
                                        <template x-if="errors.first_name">
                                            <span class="form-error text-danger" x-text="errors.first_name"></span>
                                        </template>
                                    </div>

                                    <!-- Last Name (Fixed Vue bug where class pointed to first_name errors) -->
                                    <div class="form-group form-group-default required" :class="errors.last_name ? 'has-error' : ''">
                                        <label for="last_name">Last Name</label>
                                        <input x-model="customer_data.last_name" class="form-control" placeholder="Last name">
                                        <template x-if="errors.last_name">
                                            <span class="form-error text-danger" x-text="errors.last_name"></span>
                                        </template>
                                    </div>

                                    <!-- Gender -->
                                    <div class="form-group form-group-default required" :class="errors.gender_id ? 'has-error' : ''">
                                        <label for="gender">Gender</label>
                                        <select x-model="customer_data.gender_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                            <option value="">Select Gender</option>
                                            <template x-for="gender in gender_lists" :key="gender.id">
                                                <option :value="gender.id" x-text="gender.name"></option>
                                            </template>
                                        </select>
                                        <template x-if="errors.gender_id">
                                            <span class="form-error text-danger" x-text="errors.gender_id"></span>
                                        </template>
                                    </div>

                                    <!-- Mobile No -->
                                    <div class="form-group form-group-default" :class="errors.cell_phone ? 'has-error' : ''">
                                        <label for="cell_phone">Mobile No</label>
                                        <input x-model="customer_data.cell_phone" class="form-control" placeholder="Cell phone">
                                        <template x-if="errors.cell_phone">
                                            <span class="form-error text-danger" x-text="errors.cell_phone"></span>
                                        </template>
                                    </div>

                                    <!-- Work Phone -->
                                    <div class="form-group form-group-default">
                                        <label for="work_phone">Work phone</label>
                                        <input x-model="customer_data.work_phone" class="form-control" placeholder="Work phone">
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group form-group-default" :class="errors.email ? 'has-error' : ''">
                                        <label for="email">Email</label>
                                        <input x-model="customer_data.email" class="form-control" placeholder="Email">
                                        <template x-if="errors.email">
                                            <span class="form-error text-danger" x-text="errors.email"></span>
                                        </template>
                                    </div>

                                    <!-- Date of Birth (Alpine relies on .lazy modifier via x-model.lazy) -->
                                    <div class="form-group form-group-default">
                                        <label for="date_of_birth">Date of birth</label>
                                        <input x-model.lazy="customer_data.date_of_birth" id="date_of_birth" class="form-control" placeholder="Select Date">
                                    </div>

                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Second Column -->
                        <div class="col-md-6 ">
                            <div class="padding-30">
                                <div class="form-group-attached">
                                    <!-- Address -->
                                    <div class="form-group form-group-default required" :class="errors.address ? 'has-error' : ''">
                                        <label for="address">Address</label>
                                        <input x-model="customer_data.address" class="form-control" placeholder="Address">
                                        <template x-if="errors.address">
                                            <span class="form-error text-danger" x-text="errors.address"></span>
                                        </template>
                                    </div>

                                    <!-- Address 2 -->
                                    <div class="form-group form-group-default">
                                        <label for="address2">Address2</label>
                                        <input x-model="customer_data.address2" class="form-control" placeholder="Address2">
                                    </div>

                                    <!-- City -->
                                    <div class="form-group form-group-default required" :class="errors.city ? 'has-error' : ''">
                                        <label for="city">City</label>
                                        <input x-model="customer_data.city" class="form-control" placeholder="City">
                                        <template x-if="errors.city">
                                            <span class="form-error text-danger" x-text="errors.city"></span>
                                        </template>
                                    </div>

                                    <!-- Zip -->
                                    <div class="form-group form-group-default">
                                        <label for="zip">Zip</label>
                                        <input x-model="customer_data.zip" class="form-control" placeholder="Zip">
                                    </div>

                                    <!-- Country -->
                                     <!-- Country Dropdown with Search capability -->
                                        <div class="form-group form-group-default required" :class="errors.country_id ? 'has-error' : ''">
                                            <label for="country_id">Country</label>
                                            
                                            <select 
                                                id="country_select"
                                                x-model="customer_data.country_id" 
                                                class="cs-select2 cs-skin-slide cs-transparent form-control"
                                                style="width: 100%;"
                                                x-init="
                                                    // Wait for Alpine to finish rendering the nested options loop[cite: 1]
                                                    $nextTick(() => {
                                                        $( $el ).select2({
                                                            placeholder: 'Select Country',
                                                            allowClear: true
                                                        });

                                                        // Crucial: Catch Select2 change event and manually push the chosen ID back to Alpine
                                                        $( $el ).on('change', (e) => {
                                                            customer_data.country_id = e.target.value;
                                                        });
                                                    });

                                                    // If customer_data.country_id is changed programmatically elsewhere (e.g., resetForm), update Select2
                                                    $watch('customer_data.country_id', value => $( $el ).val(value).trigger('change.select2') );
                                                "
                                            >
                                                <option value="">Select Country</option>
                                                <template x-for="country in country_lists" :key="country.id">
                                                    <option :value="country.id" x-text="country.name"></option>
                                                </template>
                                            </select>
                                            
                                            <template x-if="errors.country_id">
                                                <span class="form-error text-danger" x-text="errors.country_id"></span>
                                            </template>
                                        </div>

                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>         
                <div class="row-same-height" style="display: flex; justify-content: flex-end;">
                    <!-- Actions -->
                    <div class="form-actions">
                        <button
                            type="submit"
                            class="btn btn-success btn-lg"
                            :disabled="submitting"
                        >
                            <span x-show="!submitting"><i class="fa fa-save"></i> Save Customer</span>
                            <span x-show="submitting" x-cloak>
                                <i class="fa fa-spinner fa-spin"></i> Saving...
                            </span>
                        </button>
                        <button type="button" class="btn btn-default btn-lg" @click="resetForm()">
                            <i class="fa fa-refresh"></i> Reset
                        </button>
                    </div>            
                </div>
            </form>
        </div>
    <!-- </main> -->
</div>

<style>
.customer-create-page {
    padding: 24px;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    flex-wrap: wrap;
    gap: 12px;
}
.page-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 4px;
}
.page-subtitle {
    color: #888;
    margin: 0;
    font-size: 13px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.form-group {
    flex: 1;
    min-width: 200px;
}
.form-group.full-width {
    flex: 0 0 100%;
}
.form-label {
    display: block;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 6px;
    color: #444;
}
.required {
    color: #e74c3c;
}
.is-invalid {
    border-color: #e74c3c !important;
}
.invalid-feedback {
    display: block;
    color: #e74c3c;
    font-size: 11px;
    margin-top: 4px;
}

/* Status toggle */
.status-toggle-group {
    display: flex;
    gap: 10px;
    margin-top: 4px;
}
.status-option {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 7px 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #666;
    transition: all 0.15s;
    user-select: none;
}
.status-option.active {
    background: #eafaf1;
    border-color: #27ae60;
    color: #27ae60;
}
.status-option.inactive.active {
    background: #fdf2f2;
    border-color: #e74c3c;
    color: #e74c3c;
}
.status-option:hover {
    border-color: #aaa;
}

/* Success box */
.alert-success-box {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #eafaf1;
    border: 1px solid #2ecc71;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.alert-icon {
    font-size: 32px;
    color: #2ecc71;
}
.alert-body {
    flex: 1;
}
.alert-body strong {
    display: block;
    font-size: 15px;
    margin-bottom: 4px;
}
.alert-body p {
    margin: 0;
    color: #666;
    font-size: 13px;
}
.alert-actions {
    display: flex;
    gap: 8px;
}

/* Actions */
.form-actions {
    display: flex;
    gap: 10px;
    padding-top: 16px;
    border-top: 1px solid #f0f0f0;
    margin-top: 4px;
}
</style>
